 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a software engineer currently working at Facebook. I got my Bachelors in <strong>Computer Engineering</strong> at Universidade Estadual de Campinas (Unicamp, Brazil) in 2004 and a <strong>Masters in Business Administration</strong> at the University of Amsterdam in 2018.</p>
                </div>
                <div class="col-lg-4">
                    <p>Previously I worked at <strong>Booking.com</strong> mostly with hotel ranking and <strong>Walmart</strong> with SEM. I'm focused on backend development, but diving into the business side of things excites me too. I also enjoy <strong>mentoring people</strong> and <strong>coaching agile teams</strong> to achieve their top potential.</p>
                </div>
            </div>
        </div>
    </section>
